html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;

}



.container {
    position: relative;
    margin-top: 50px;

}

.target {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
}

.moveable-normal.red {
background: red !important;
}

.moveable-gap.red {
background: red !important;
}

.moveable-bold.red {
background: red !important;
}

.moveable-dashed.red {
border-top-color: red !important;
border-left-color: red !important;
}

.moveable-normal.green {
background: green !important;
}

.moveable-gap.green {
background: green !important;
}