html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;

}



.container {
    position: relative;
    margin-top: 50px;

}

.target {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
}


.active{
    background: rgb(4, 5, 5)!important;
    display: none !important;
}

.moveable:focus{
    display: none !important;

}